header img {
    width: 100%;
    height: auto;
}

header {
    position: relative;
    /*padding-top: 100px; /* Adjust top padding as needed */
    text-align: center;

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust overlay color and opacity as needed */
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 10%;

}

.content h1,
.content p {
    margin: 0;
}

.content a {
    margin-top: 20px; /* Adjust top margin for the button as needed */
}

.header-top{
    width: 100%
}




.btn-login,btn-register{
    margin-left: 10px;
}

.btn-login{
    background-color: transparent;
    color: #000;
    border: none;
    padding: 4px 8px;
    width: auto;

}

.btn-login:hover{
    text-decoration: underline;
    color: lightseagreen;
}

.btn-register {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 5px;
    width: auto;
}

.btn-register:hover{
    color: lightseagreen;
    text-decoration: underline;
}

.upgrade-link {
    font-weight: bold;
    font-style: italic;
    color:#000;
}

.upgrade-link:hover{
    color:lightseagreen;
}

/* styles.css */
.btn-custom {
    background-color:black; /* Change to your desired color */
    color: #ffffff; /* Change to your desired text color */
    border-color: black; /* Change to match the background color if needed */
}

.btn-custom:hover {
    background-color: hsl(0, 0%, 18%); /* Change to a darker shade for hover effect */
    color:white
    /*border-color: hsl(0, 0%, 18%); /* Change to match the background color if needed */
}

.float-left{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.header-link{
    margin-right: 25px;
    color: #000;
}

.header-link:hover{
    text-decoration: underline;
    color:lightseagreen;
}

.long-box {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px; /* Adjust margin as needed */
}

.long-box-text {
    margin: 0;
}


.centered-image {
    max-width: 30%;
    max-height: 100%;
    display: block;
    margin: 2px auto 0;
}
